a.button {
  background-color: #00478f;
  color: white;
  text-decoration: none;
  transition: filter 300ms;
  padding: 1rem;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  display: block;
  width: max-content;
  margin: 1rem auto;
}
a.button:hover {
  filter: brightness(85%);
}
a.button:active {
  filter: brightness(75%);
}
