$height: 20px;
$width: 25px;
$color: white;

div.hamburger {
  height: $height;
  width: $width;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;

  div {
    background-color: $color;
    height: calc($height / 5);
    width: $width;
    transition: 300ms;
    border-radius: 10px;
  }
  div:nth-child(2) {
    margin-top: calc($height / 5);
    margin-bottom: calc($height / 5);
  }
  @media only screen and (min-width: 900px) {
    display: none;
  }

  // Hamburger bar 1
  div.cool-animation-entering:nth-child(1) {
    transform: translateY(calc(2 * ($height/5)));
  }
  div.cool-animation-entered:nth-child(1) {
    transform: translateY(calc(2 * ($height/5))) rotate(45deg);
  }
  div.cool-animation-exiting:nth-child(1) {
    transform: translateY(calc(2 * ($height/5)));
  }
  // Hamburger bar 2
  div.cool-animation-entered:nth-child(2) {
    opacity: 0;
  }
  // Hamburger bar 3
  div.cool-animation-entering:nth-child(3) {
    transform: translateY(-(calc(2 * ($height/5))));
  }
  div.cool-animation-entered:nth-child(3) {
    transform: translateY(-(calc(2 * ($height/5)))) rotate(-45deg);
  }
  div.cool-animation-exiting:nth-child(3) {
    transform: translateY(-(calc(2 * ($height/5))));
  }
}
