@media (min-device-width: 900px) {
  /* desktop */
  header {
    text-align: center;
  }
  div.logo {
    background-image: url("./Logo2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
  }
}
@media (max-device-width: 900px) {
  /* mobile */
  header {
    text-align: center;
    padding: 2rem;
  }
  div.logo {
    background-image: url("./Logo2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
  }
}
