footer {
  background-color: #00478f;
  text-align: center;
}
footer p {
  padding: 1rem;
}
footer p a {
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #00478f;
  transition: filter 300ms;
}
footer p a:hover {
  filter: brightness(85%);
}
footer p a:active {
  filter: brightness(75%);
}
