nav.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: right;
  background-color: var(--foreground-color);
  z-index: 1;
}
a.linkBt {
  position: relative;
  display: block;
  color: var(--font-color);
  background-color: var(--foreground-color);
  width: 3rem;
  height: 3rem;
  transition: filter 300ms;
  font-size: 1.5rem;
}
a.linkBt svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.linkBt:hover {
  filter: brightness(85%);
}
a.linkBt:active {
  filter: brightness(75%);
}

@media (max-device-width: 900px) {
  nav.menu {
    justify-content: center;
  }
}
