@media (min-device-width: 900px) {
  /* desktop */
  nav.menu {
    display: flex;
    justify-content: space-between;
    background-color: #00468c;
  }
  div.nav-list {
    display: flex;
  }
  a.label {
    align-self: center;
    padding-left: 1rem;
    font-family: "Audiowide", cursive;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 300ms;
  }
  a.label:hover {
    color: rgb(200, 200, 200);
  }
  a.label:active {
    color: rgb(160, 160, 160);
  }
  a.nav-link {
    display: block;
    padding: 1rem;
    color: white;
    background-color: #00468c;
    transition: filter 300ms;
  }
  a.nav-link:hover {
    filter: brightness(80%);
  }
  a.nav-link:active {
    filter: brightness(70%);
  }
}
@media (max-device-width: 900px) {
  /* mobile */
}
